body {
  font-family: "Permanent Marker";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: orange;
}

#stage {
  margin: 20px auto;
}

button {
  font-family: "Permanent Marker";
  color: white;
  background: orange;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  margin-top: 20px;
}

hr {
  color: black;
  width: 350px;
}

.shelves-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shelves-container div {
  color: black;
  width: 200px;
  height: 30px;
  border-radius: 20px;
}

#apple-shelf {
  background-color: red;
}

#orange-shelf {
  background-color: orange;
}
