body {
  background-color: rgb(3, 3, 37);
  padding: 40px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

#title-part1 {
  color: aliceblue;
}

#title-part2 {
  color: rgb(33, 141, 49);
}

h5 {
  color: gray;
}

hr {
  border: none;
  background: rgb(8, 8, 71);
  height: 1px;
  margin: 40px auto;
}

button {
  color: aliceblue;
  background: rgb(33, 141, 49);
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 12px;
}

.password-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.password-fields {
  color: rgb(33, 141, 49);
  background-color: rgb(8, 8, 71);
  padding: 6px 40px;
}
